// styleguide

#kss-node {
  padding: 0 !important;
  background: none;
}

.kss-main {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}

.kss-section {
  max-width: 100% !important;
}

.kss-modifier__wrapper {
  padding: 0 !important;
}
.kss-sidebar {
  display: none;
}

.kss-markup {
  clear: left;
}