// Search
//
// Markup: search.html
//
// Styleguide: components.search

.search,
%search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  float: right;

  @include breakpoint(850px) {
    width: 100%;
  }
}

.search__wrapper,
%search__wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(850px) {
    display: block;
    position: absolute;
    right: 0;
    top: 4%;
    padding-right: 2rem;
  }
  @include breakpoint(1179px) {
    position: absolute;
    right: 0;
    top: 3%;
    z-index: 999;
  }
}

.search--hidden,
%search--hidden {
  display: none !important;
}

.search__text,
%search__text {
  display: none;

  @include breakpoint(850px) {
    display: inline-block;
  }
}

.search__close,
%search__close {
  cursor: pointer;
  height: 28px;
}

.search__button,
%search__button {

  width: 80px;
  cursor: pointer;
  text-align: center;

  @include breakpoint(850px) {
    width: 100%;
    text-align: right;
  }
}

.search__button-image,
%search__button-image {
  width: 15px;
}

.search__input,
%search__input {
  height: 27px;
  width: 250px;
  border-radius: 2px;
  border: 1px solid black;
  font-size: 13px;
  padding: .5rem;
}

.search__submit,
%search__submit {
  position: absolute;
  top: 4px;
  right: 38px;
  border: 0;
  padding: 1rem;
  height: 1rem;
  cursor: pointer;

  background: {
    color: transparent;
    image: url('search-button.svg');
    repeat: no-repeat;
    position: center;
  }
}