@import 'components/layout-four/layout-four';

.layout-sidebar__side,
%layout-sidebar__side {

  display: none;

  @include breakpoint($layout-four__large) {
    display: block;
    width: 30%;
    float: left;
  }
}

.layout-sidebar__main,
%layout-sidebar__main {

  @include breakpoint($layout-four__large) {
    width: 70%;
    float: left;
  }
}