.layout-sidebar__wrapper,
%layout-sidebar__wrapper {
  width: 996px;
  margin: auto;
}

.layout-sidebar__side,
%layout-sidebar__side {
  position: fixed;
  width: 200px;
  height: 100%;
  overflow: auto;
  top: 0;
  z-index: 9999;
}

.layout-sidebar__main,
%layout-sidebar__main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 200px;
  padding-left: 1rem;
}