// Hamburger Menu
//
// Markup: hamburger-menu.html
//
// Styleguide: components.hamburger-menu

@import 'components/layout-four/layout-four';

.hamburger-menu__side,
%hamburger-menu__side {
  width: 12rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: -12rem;
  clear: both;
  overflow: hidden;

  @include breakpoint($layout-four__large) {
    position: static;
    float: left;
    width: 20%;
    box-sizing: border-box;
  }
}

.hamburger-menu__main,
%hamburger-menu__main {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  @include breakpoint($layout-four__large) {
    width: 80%;
    float: left;
    box-sizing: border-box;
  }
}

.hamburger-menu__main-container,
%hamburger-menu__main-container {
  padding-left: 2rem; 
}

.hamburger-menu--in,
 %hamburger-menu--in {
  animation: slide-in 0.5s forwards;
}

.hamburger-menu--out,
%hamburger-menu--out {
  animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  0% {
    left: 0;
  }
  100% {
    left: 12rem;
  }
}

@keyframes slide-out {
  0% {
    left: 12rem;
  }
  100% {
    left: 0;
  }
}

.hamburger-menu__icon,
%hamburger-menu__icon {
  cursor: pointer;
  float: left;
  display: block;
  padding: 1em;

  @include breakpoint($layout-four__large) {
    display: none;
  }
}

.hamburger-menu__list-outer,
%hamburger-menu__list-outer {
  background: white;
  list-style-type: none;
  margin: 0;
  padding-left: 1rem;
  @include breakpoint($layout-four__large) {
    padding: 0;
  }
}

.hamburger-menu__list,
%hamburger-menu__list {
  list-style-type: none;
  margin: 0;
  display: none;
}

.hamburger-menu__link,
%hamburger-menu__link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #888888;

  &:hover {
    color: #222222;
  }
}

.hamburger-menu__link-outer {
  @extend %hamburger-menu__link;
  padding: 1rem;
}

.hamburger-menu__link-inner {
  @extend %hamburger-menu__link;
  padding: .5rem;
}

.hamburger-menu__list--active,
%hamburger-menu__list--active {
  display: block;
}

.hamburger-menu__icon-container,
%hamburger-menu__icon-container {
  width: 100%;
  overflow: hidden;
}

.hamburger-menu__wrapper,
%hamburger-menu__wrapper {
  position: relative;
}


