// Hamburger Menu
//
// Markup: hamburger-menu.html
//
// Styleguide: components.hamburger-menu

@import 'components/layout-four/layout-four';

.hamburger-menu,
%hamburger-menu {
  position: fixed;
  transform: translate3d(-200px,0,0);
  transition: transform .5s cubic-bezier(.16, .68, .43, .99);
  width: 200px;
  height: 100%;
  top: 0;
  clear: both;
  overflow: auto;
  background: white;

  @include breakpoint($layout-four__large) {
    position: absolute;
    float: left;
    width: 20%;
    box-sizing: border-box;
  }
}

.hamburger-menu--active,
%hamburger-menu--active {
  display: block;
  transform: translate3d(0,0,0);
  transition: transform .5s cubic-bezier(.16, .68, .43, .99);
  box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
}

.hamburger-menu__main,
%hamburger-menu__main {
  width: 90%;
  margin: 0 auto;
  @include breakpoint($layout-four__large) {
    width: 80%;
    float: left;
    box-sizing: border-box;
  }
}

.hamburger-menu__main-container,
%hamburger-menu__main-container {
    padding-left: 0rem;

}

.hamburger-menu--home__side,
%hamburger-menu--home__side {

  @include breakpoint($layout-four__large) {
    position: absolute;
    top: 17rem;
    margin-left: 2rem;
  }
}

.hamburger-menu__list-outer,
%hamburger-menu__list-outer {
  list-style-type: none;
  margin: 0;
  padding-left: 1rem;

  @include breakpoint($layout-four__large) {
    padding: 0;
  }
}

.hamburger-menu__list,
%hamburger-menu__list {
  list-style-type: none;
  margin: 0;
  display: none;
}

.hamburger-menu__link,
%hamburger-menu__link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #888888;

  &:hover {
    color: #222222;
  }
}

.hamburger-menu__link-outer {
  @extend %hamburger-menu__link;
  padding: 1rem;
}

.hamburger-menu__link-inner {
  @extend %hamburger-menu__link;
  padding: .5rem;
}

.hamburger-menu__list--active,
%hamburger-menu__list--active {
  display: block;
}

.hamburger-menu__wrapper,
%hamburger-menu__wrapper {
  position: relative;
}