// Hamburger Menu
//
// Markup: hamburger-menu.html
//
// Styleguide: components.hamburger-menu
// asdf

* {
  font-family: "Courier New", Courier, monospace;
}

.hamburger-menu--in,
 %hamburger-menu--in {
  animation: slide-in 0.5s forwards;
}

.hamburger-menu--out,
%hamburger-menu--out {
  animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  0% {
    left: 0;
  }
  100% {
    left: 12rem;
  }
}

@keyframes slide-out {
  0% {
    left: 12rem;
  }
  100% {
    left: 0;
  }
}

.hamburger-menu__icon,
%hamburger-menu__icon {
  cursor: pointer;
  float: left;
  display: block;
  padding: 1em;

  @include breakpoint(1180px) {
    display: none;
  }
}

.hamburger-menu__list-outer,
%hamburger-menu__list-outer {
  background: white;
  list-style-type: none;
  margin: 0;
  padding-left: 1rem;

  @include breakpoint(1180px) {
    padding: 0;
  }
}

.hamburger-menu__list,
%hamburger-menu__list {
  list-style-type: none;
  margin: 0;
  display: none;
}

.hamburger-menu__link,
%hamburger-menu__link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #888888;

  &:hover {
    color: #222222;
  }
}

.hamburger-menu__link-outer {
  @extend %hamburger-menu__link;
  padding: 1rem;
}

.hamburger-menu__link-inner {
  @extend %hamburger-menu__link;
  padding: .5rem;
}

.hamburger-menu__list--active,
%hamburger-menu__list--active {
  display: block;
}

