<div style="width: 996px; margin: auto;">

    <div >
        <img class="hamburger-menu__icon" src="/assets/hamburger_menu.svg" alt=""/>
    </div>

    <div class="layout-sidebar__side">
        <ul class="hamburger-menu__list-outer">
            <li>
                <a class="hamburger-menu__link" href="#">Shop</a>
                <ul class="hamburger-menu__list">
                    <li>
                        <a class="hamburger-menu__link" href="#">NEW ARRIVALS</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">SWIM</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Tops</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Bottoms</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• One Pieces</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Neoprene</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">COLLECTION</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Tops</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Bottoms</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Dresses</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Jumpsuits</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Lace</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Crochet</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Knits</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Leather</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">STAPLES</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Tops</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Bottoms</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Dresses</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">SALE</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Tops</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Bottoms</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Dresses</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">• Staples</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">ACCESSORIES</a>
                    </li>
                    <li>
                        <a class="hamburger-menu__link" href="#">ART</a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>

    <div class="layout-sidebar__main" style="background: #808080; height: 500px;"></div>
</div>
