<div style="overflow: hidden;">
    {{>hamburger-menu}}
    <div class="content-wrapper">
    {{>header}}

        <div class="layout-sidebar__side">
            <ul class="layout-sidebar__side-menu">
                <li>
                    <a href="#">asdf</a>
                    <ul>
                        <li>asdf</li>
                        <li>asdf</li>
                        <li>asdf</li>
                        <li>asdf</li>
                        <li>asdf</li>
                    </ul>
                </li>
                <li>asdf</li>
                <li>asdf</li>
                <li>asdf</li>
                <li>asdf</li>
            </ul>
        </div>
        <div class="layout-sidebar__main">
            {{>layout-four}}
        </div>

    </div>
</div>