// Cart Icon
//
// Markup: cart-icon.html
//
// Styleguide: components.cart-icon

.cart-icon,
%cart-icon {
  width: 60px;
  text-decoration: none;
  color: black;

  @include breakpoint(850px) {
    float: right;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.cart-icon__image,
%cart-icon__image {
  width: 14px;
}

.cart-icon__name,
%cart-icon__name {
  display: none;

  @include breakpoint(850px) {
    display: block;
  }
}