<div class="content-wrapper">
   <div class="hamburger-menu__wrapper">
     <div class="hamburger-menu__icon-container">
       <img class="hamburger-menu__icon" src="/img/hamburger_menu.svg" alt=""/>
     </div>

     <!-- header -->
          <div class="header-centered clearfix">
            <div class="logo">          
              <a href="/"><img src="//cdn.shopify.com/s/files/1/0243/7257/t/5/assets/logo.png?1303396216    5253190557" alt="Rue Stiic"></a>
            </div> 
          </div>
     <!-- header -->
     
         <div class="hamburger-menu--home__side">
             <ul class="hamburger-menu__list-outer">
                 <li>
                     <a class="hamburger-menu__link-outer" href="#">NEW ARRIVALS</a>
                 </li>
                 <li>
                     <a class="hamburger-menu__link-outer" href="#">SWIM</a>
                     <ul class="hamburger-menu__list">
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Tops</a>
                         </li>
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Bottoms</a>
                         </li>
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• One Pieces</a>
                         </li>
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Neoprene</a>
                         </li>
                     </ul>
                 </li>
                 <li>
                     <a class="hamburger-menu__link-outer" href="#">COLLECTION</a>
                     <ul class="hamburger-menu__list">
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Tops</a>
                         </li>
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Bottoms</a>
                         </li>
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Dresses</a>
                         </li>
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Jumpsuits</a>
                         </li>
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Lace</a>
                         </li>
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Crochet</a>
                         </li>
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Knits</a>
                         </li>
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Leather</a>
                         </li>
                     </ul>
                 </li>
                 <li>
                     <a class="hamburger-menu__link-outer" href="#">STAPLES</a>
                     <ul class="hamburger-menu__list">
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Tops</a>
                         </li>
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Bottoms</a>
                         </li>
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Dresses</a>
                         </li>
                     </ul>
                 </li>
                 <li>
                     <a class="hamburger-menu__link-outer" href="#">SALE</a>
                     <ul class="hamburger-menu__list">
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Tops</a>
                         </li>
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Bottoms</a>
                         </li>
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Dresses</a>
                         </li>
                         <li>
                             <a class="hamburger-menu__link-inner" href="#">• Staples</a>
                         </li>
                     </ul>
                 </li>
                 <li>
                     <a class="hamburger-menu__link-outer" href="#">ACCESSORIES</a>
                 </li>
                 <li>
                     <a class="hamburger-menu__link-outer" href="#">ART</a>
                 </li>
             </ul>
         </div>
         
        <div class="hamberger-menu__main">
            {{> layout-one }}
        </div>
   </div>
</div>
